@{
    ViewData["Title"] = "Home Page";
}

<div style="display: flex; align-items: center; justify-content: center; flex-direction: row-reverse; padding: 50px 20px;">

    <img src="~/images/rukovanje.png" alt="Logo" style="width: 370px; height: auto; margin-right: 50px; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);" />

    <div>
        <h1 class="display-4" style="font-size: 2.5rem; font-weight: bold; line-height: 1.2;">Centar za mirno<br />rješavanje sporova</h1>
    </div>
</div>
