@{
    ViewData["Title"] = "Home Page";
}

<div style="display: flex; align-items: center; justify-content: center;">
    <!-- Slika -->
    <img src="~/images/rukovanje.png" alt="Logo" style="width: 150px; height: auto; margin-right: 20px;" />

    <!-- Tekst -->
    <div>
        <h1 class="display-4">Centar za mirno<br />rješavanje sporova</h1>
    </div>
</div>