@{
    ViewData["Title"] = "O nama";
}

<style>
    .content-wrapper {
        max-width: 900px;
        margin: 0 auto;
        padding: 40px 20px;
    }

        .content-wrapper h3 {
            text-align: center;
            margin-bottom: 39px;
            color: #1C244B;
            font-size: 39px;
            font-weight: 700;
            text-transform: none;
            font-style: normal;
            text-decoration: none;
            line-height: 1.2em;
            letter-spacing: 0px;
            word-spacing: 0em;

        }

        .content-wrapper p {
            text-align: justify;
            font-size: 18px;
            font-weight: 400;
            text-transform: none;
            font-style: normal;
            line-height: 1.5em;
            letter-spacing: 0px;
            margin-bottom: 20px;
        }
</style>

<div class="content-wrapper">
    <h3>O nama</h3>

    <p>Kako bi se potaknula svijest o prednostima mirnog rješavanja sporova te ojačali kapaciteti sustava koji bi se bavio postupcima mirnog rješavanja sporova pristupilo se donošenju novog Zakona koji je stupio na snagu 29. lipnja 2023. Novi zakon unaprijedit će sustav mirnog rješavanja sporova kroz uspostavu snažnije kontrole medijatora, dodatne, unificirane edukacije i veću dostupnost mirnog rješavanja sporova.</p>

    <p>Naime, reforma i jačanje instituta mirenja kroz normativne izmjene predviđena je u okviru Nacionalnog plana oporavka i otpornosti kojima se osigurava provedba reformske mjere C2.5. R1 – povećanje učinkovitosti pravosudnog sustava za veće povjerenje građana u dijelu koji se odnosi na reformu instituta mirenja.</p>

    <p>U tom smislu, propisano je i osnivanje Centra za mirno rješavanje sporova koji je kao javna ustanova osnovan Rješenjem Ministarstva pravosuđa i uprave od 24. srpnja 2023., KLASA: 700-03/23-02/39, URBROJ: 514-03-02-01/01-23-20.</p>

    <p>Centar prije svega ima svrhu stvarati uvjete za sporazumno rješavanje sporova, izbjegavanje nepotrebnog pokretanja sudskih postupaka te osiguravanje uravnoteženog odnosa između postupka mirnog rješavanja spora i sudskog postupka. Nadalje, Centar će svojom ulogom i aktivnostima osiguravati temeljne pretpostavke za razvoj kulture mirnog rješavanja sporova, a svoje ciljeve će postizati usklađenim i odgovornim djelovanjem u suradnji s udrugama i ostalim relevantnim ustanovama koje na bilo koji način sudjeluju u mirnom rješavanju sporova.</p>

    <p>Svrha Centra je, između ostalog, osigurati i jednaku provedbu postupaka mirnog rješavanja sporova, raditi na unaprjeđenju i jačanju sustava mirnog rješavanja sporova.</p>

    <p>I za kraj, kao krovna institucija za mirno rješavanje sporova, Centar će aktivno sudjelovati u svim aspektima promocije, razvitka i međusobne suradnje u svrhu postizanja što boljih rezultata s medijatorima, institucijama i svim zainteresiranim stranama.</p>
</div>
